Repository microsoft/vstest, changes with the owners that CODEOWNERS names for each.
All owners: @nohwnd, @MarcoRossignoli, @cvpoienaru, @haplois, @Evangelink

CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

PublicAPI.Shipped.txt @nohwnd @MarcoRossignoli
PublicAPI.Unshipped.txt @nohwnd @MarcoRossignoli

# Adding/removing telemetry or doing any kind of changes to the telemetry data constants is
# something that should be treated with care and we should be transparent about it. It also
# requires making sure all telemetry collection systems in place will continue to function well.
TelemetryDataConstants.cs @cvpoienaru @nohwnd

# Changes here might break our contracts with other adapters, and possibly
# Visual Studio. 
/src/Microsoft.TestPlatform.AdapterUtilities/ @haplois @Evangelink 
/test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/  @haplois @Evangelink

Remove explicit framework ref assembly ref (#4407)
  Directory.Build.targets
Owners: none

Fix
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/BlameCollector.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/ICrashDumper.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/Interfaces/IProcessDumpUtility.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/NetClientCrashDumper.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/ProcDumpDumper.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/ProcessDumpUtility.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/PublicAPI/PublicAPI.Shipped.txt
  test/Microsoft.TestPlatform.Acceptance.IntegrationTests/BlameDataCollectorTests.cs
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/BlameCollectorTests.cs
  test/TestAssets/crash/UnitTest1.cs
Owners: @nohwnd, @MarcoRossignoli

Fix
  src/Microsoft.TestPlatform.Build/Resources/Resources.Designer.cs
  test/Microsoft.TestPlatform.Acceptance.IntegrationTests/BlameDataCollectorTests.cs
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/ProcessDumpUtilityTests.cs
Owners: none

Revert
  src/Microsoft.TestPlatform.Build/Resources/Resources.Designer.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/PublicAPI/PublicAPI.Shipped.txt
  test/Microsoft.TestPlatform.Acceptance.IntegrationTests/BlameDataCollectorTests.cs
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/BlameCollectorTests.cs
  test/TestAssets/crash/UnitTest1.cs
Owners: @nohwnd, @MarcoRossignoli

Fix test
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/BlameCollectorTests.cs
Owners: none

Fix tests
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/BlameCollectorTests.cs
Owners: none

Fix hangdump running into crashdump (#4378)
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/BlameCollector.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/NetClientCrashDumper.cs
  src/Microsoft.TestPlatform.Extensions.BlameDataCollector/ProcDumpDumper.cs
  test/Microsoft.TestPlatform.Extensions.BlameDataCollector.UnitTests/BlameCollectorTests.cs
Owners: none

Add IsVisualStudioBuildPackage to vsix package
  src/package/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI.csproj
Owners: none

Addressing System.Private.Uri source-build prebuilt in testhost
  src/testhost.arm64/testhost.arm64.csproj
Owners: none

Add IsVisualStudioBuildPackage to vsix package (#4413)
  src/package/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI.csproj
Owners: none

Addressing System.Private.Uri source-build prebuilt in testhost (#4414)
  src/testhost.arm64/testhost.arm64.csproj
Owners: none

Fix playground
  playground/TestPlatform.Playground/Environment.cs
  playground/TestPlatform.Playground/Program.cs
  playground/TestPlatform.Playground/TestPlatform.Playground.csproj
  src/Microsoft.TestPlatform.Execution.Shared/DebuggerBreakpoint.cs
Owners: none

Fix playground (#4420)
  playground/TestPlatform.Playground/Environment.cs
  playground/TestPlatform.Playground/Program.cs
  playground/TestPlatform.Playground/TestPlatform.Playground.csproj
  src/Microsoft.TestPlatform.Execution.Shared/DebuggerBreakpoint.cs
Owners: none

Pass only relevant sources to datacollector and other places that read them
  playground/MSTest1/MSTest1.csproj
  playground/MSTest2/MSTest2.csproj
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelOperationManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelProxyDiscoveryManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelProxyExecutionManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/TestEngine.cs
Owners: none

Remove unneeded variable
  src/Microsoft.TestPlatform.Utilities/XmlUtilities.cs
Owners: none

Remove IO from source build
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.csproj
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.sourcebuild.nuspec
Owners: none

Remove IO from source build (#4426)
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.csproj
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.sourcebuild.nuspec
Owners: none

Remove unused variable (#4425)
  src/Microsoft.TestPlatform.Utilities/XmlUtilities.cs
Owners: none

First pass at prebuilts
  NuGet.config
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Update package verion in SourceBuildPrebuiltBaseline.xml
  eng/SourceBuildPrebuiltBaseline.xml
Owners: none

Use stable version of Microsoft.Extensions.DependencyModel
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Remove prebuilt exclusion for Microsoft.CodeCoverage.IO
  eng/SourceBuildPrebuiltBaseline.xml
Owners: none

Update dependencies
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
Owners: none

vstest prebuilts
  eng/Version.Details.xml
Owners: none

Fix Windows build - dependency downgrade
  eng/Versions.props
  src/Microsoft.TestPlatform.TestHostProvider/Microsoft.TestPlatform.TestHostProvider.csproj
Owners: none

Known prebuilts
  eng/SourceBuildPrebuiltBaseline.xml
Owners: none

Update VSIX package ID
  src/package/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI/source.extension.vsixmanifest
Owners: none

Update VSIX package ID (#4431)
  src/package/Microsoft.VisualStudio.TestTools.TestPlatform.V2.CLI/source.extension.vsixmanifest
Owners: none

Pass GenerateSbom option during CI build
  azure-pipelines.yml
Owners: none

updating cc version,
  eng/Versions.props
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.csproj
  src/package/Microsoft.TestPlatform.Portable/Microsoft.TestPlatform.Portable.csproj
  src/package/Microsoft.TestPlatform/Microsoft.TestPlatform.csproj
Owners: none

Revert Microsoft.Extensions.DependencyModel dependency to 3.0.0-preview4-27615-11
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.TestPlatform.TestHostProvider/Microsoft.TestPlatform.TestHostProvider.csproj
Owners: none

Update Microsoft.CodeCoverage.IO version (#4433)
  eng/Version.Details.xml
  eng/Versions.props
  src/package/Microsoft.TestPlatform.CLI/Microsoft.TestPlatform.CLI.csproj
  src/package/Microsoft.TestPlatform.Portable/Microsoft.TestPlatform.Portable.csproj
  src/package/Microsoft.TestPlatform/Microsoft.TestPlatform.csproj
Owners: none

Generate sbom - restore internal tools
  azure-pipelines.yml
  eng/restore-internal-tools.yml
Owners: none

Add restore script before build for sbom generation
  azure-pipelines.yml
  eng/restore-internal-tools.yml
Owners: none

Enable source-build pre-built detection (#4419)
  NuGet.config
  eng/SourceBuildPrebuiltBaseline.xml
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Add missing RestoreInternal.cmd file
  eng/RestoreInternal.cmd
Owners: none

Add slash at the end of packages path
  azure-pipelines.yml
Owners: none

Deprecate serialization ctor for .NET8 onward
  src/Microsoft.TestPlatform.AdapterUtilities/ManagedNameUtilities/InvalidManagedNameException.cs
Owners: @haplois, @Evangelink

Add message to ObsoleteAttribute
  src/Microsoft.TestPlatform.AdapterUtilities/ManagedNameUtilities/InvalidManagedNameException.cs
Owners: @haplois, @Evangelink

Fix 17.6 build
  NuGet.config
Owners: none
