Repository microsoft/vstest, changes with the owners that CODEOWNERS names for each.
All owners: @nohwnd, @MarcoRossignoli, @cvpoienaru, @haplois, @Evangelink

Fix broken tests following breaking change in mstest v3
  test/Microsoft.TestPlatform.Utilities.UnitTests/CodeCoverageDataAttachmentsHandlerTests.cs
Owners: none

Add bang notation
  test/Microsoft.TestPlatform.Utilities.UnitTests/CodeCoverageDataAttachmentsHandlerTests.cs
Owners: none

Update mstest version
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Use latest .NET 7 runtime
  scripts/common.lib.ps1
Owners: none

test
  scripts/common.lib.ps1
Owners: none

Properly fix runtime
  global.json
  scripts/common.lib.ps1
Owners: none

Bump NET SDK version to 17.6.0
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Use latest .NET 7 runtime (#4216)
  global.json
Owners: none

Bump NET SDK version to 17.6.0 (#4218)
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Added tests
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyOperationManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/TestSession/ProxyTestSessionManager.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/ProxyOperationManagerTests.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/ProxyTestSessionManagerTests.cs
Owners: none

Fix telemetry
  eng/Versions.props
Owners: none

More changes
  eng/Versions.props
Owners: none

Added support for checking testhost compatibility with test sessions (#4199)
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyOperationManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.CrossPlatEngine/TestEngine.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/TestSession/ProxyTestSessionManager.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/ProxyOperationManagerTests.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/ProxyTestSessionManagerTests.cs
Owners: @nohwnd, @MarcoRossignoli

Update releases.md
  docs/releases.md
Owners: none

Update releases.md
  docs/releases.md
Owners: none

handle object disposed exception
  src/Microsoft.TestPlatform.CommunicationUtilities/LengthPrefixCommunicationChannel.cs
Owners: none

handle object disposed exception (#4221)
  src/Microsoft.TestPlatform.CommunicationUtilities/LengthPrefixCommunicationChannel.cs
Owners: none

Cleanup unused usings
  scripts/build/TestPlatform.Settings.targets
Owners: none

A batch of fixes or suppressions
  scripts/build/TestPlatform.targets
  src/Microsoft.TestPlatform.Common/ExtensionFramework/TestPluginManager.cs
  src/Microsoft.TestPlatform.Common/Utilities/AssemblyResolver.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/TestRequestSender.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Discovery/DiscovererEnumerator.cs
  src/Microsoft.TestPlatform.ObjectModel/Adapter/Interfaces/ITestExecutor.cs
  src/Microsoft.TestPlatform.ObjectModel/Client/FilterOptions.cs
  src/vstest.console/Internal/ProgressIndicator.cs
  src/vstest.console/Processors/ListTestsTargetPathArgumentProcessor.cs
  test/vstest.console.UnitTests/Processors/RunSettingsArgumentProcessorTests.cs
Owners: none

A batch of fixes or suppressions
  test/vstest.ProgrammerTests/Fakes/FakeTestHostBuilder.cs
Owners: none

A batch of fixes or suppressions
  test/vstest.ProgrammerTests/Fakes/FakeTestHostBuilder.cs
Owners: none

Exclude documentation files
  src/package/nuspec/TestPlatform.CLI.nuspec
Owners: none

Microsoft.TestPlatform.CLI.17.6.0-dev\contentFiles\any\netcoreapp3.1\Microsoft.TestPlatform.VsTestConsole.TranslationLayer.xml
  scripts/verify-nupkgs.ps1
  test/vstest.ProgrammerTests/Fakes/FakeTestHostBuilder.cs
Owners: none

Update Microsoft.NET.Test.Sdk.targets
  src/package/nuspec/netcoreapp/Microsoft.NET.Test.Sdk.targets
Owners: none

Update fabricbot config to handle issue triaging
  .github/fabricbot.json
Owners: none

Update fabricbot config to handle issue triaging (#4233)
  .github/fabricbot.json
Owners: none

PR feedback
  docs/RFCs/0029-Debugging-External-Test-Processes.md
  scripts/build/TestPlatform.targets
  src/Microsoft.TestPlatform.AdapterUtilities/ManagedNameUtilities/ManagedNameParser.cs
  src/Microsoft.TestPlatform.AdapterUtilities/TestIdProvider.cs
  src/Microsoft.TestPlatform.Client/DesignMode/IDesignModeClient.cs
  src/Microsoft.TestPlatform.Common/ExtensionFramework/TestDiscoveryExtensionManager.cs
  src/Microsoft.TestPlatform.Common/ExtensionFramework/TestPluginManager.cs
  src/Microsoft.TestPlatform.Common/ExtensionFramework/Utilities/TestDiscovererPluginInformation.cs
  src/Microsoft.TestPlatform.Common/Interfaces/ITestDiscovererCapabilities.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/Interfaces/ITestRequestHandler.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/JsonDataSerializer.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/DiscoveryDataAggregator.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Discovery/DiscovererEnumerator.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Execution/BaseRunTests.cs
  src/Microsoft.TestPlatform.ObjectModel/Adapter/Interfaces/IFrameworkHandle2.cs
  src/Microsoft.TestPlatform.ObjectModel/Adapter/Interfaces/ITestExecutor2.cs
  src/Microsoft.TestPlatform.ObjectModel/Client/Interfaces/IInternalTestRunEventsHandler.cs
  src/Microsoft.TestPlatform.ObjectModel/Client/Interfaces/ITestHostLauncher2.cs
  src/Microsoft.TestPlatform.ObjectModel/Client/Interfaces/ITestHostLauncher3.cs
  src/Microsoft.TestPlatform.ObjectModel/Client/Interfaces/ITestRunEventsHandler2.cs
  src/Microsoft.TestPlatform.ObjectModel/Host/ITestRuntimeProvider2.cs
  src/Microsoft.TestPlatform.Utilities/CodeCoverageRunSettingsProcessor.cs
  src/Microsoft.TestPlatform.Utilities/MSTestSettingsUtilities.cs
Owners: @haplois, @Evangelink

fix possible trx nre
  src/Microsoft.TestPlatform.Extensions.TrxLogger/TrxLogger.cs
Owners: none

add test
  src/Microsoft.TestPlatform.Extensions.TrxLogger/TrxLogger.cs
  test/Microsoft.TestPlatform.Extensions.TrxLogger.UnitTests/TrxLoggerTests.cs
Owners: none

Fix potential trx logger NRE (#4240)
  src/Microsoft.TestPlatform.Extensions.TrxLogger/TrxLogger.cs
  test/Microsoft.TestPlatform.Extensions.TrxLogger.UnitTests/TrxLoggerTests.cs
Owners: none

fix string conversion
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Update src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Update src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Update src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

add remarks
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

cleanup
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

remove enum values
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Fix string conversion of `Microsoft.TestPlatform.Extensions.TrxLogger.ObjectMode.TestOutcome` (#4243)
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Fix string conversion of `Microsoft.TestPlatform.Extensions.TrxLogger.ObjectMode.TestOutcome` (#4243)
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

Fix string conversion of `Microsoft.TestPlatform.Extensions.TrxLogger.ObjectMode.TestOutcome` (#4243) (#4246)
  src/Microsoft.TestPlatform.Extensions.TrxLogger/ObjectModel/TestOutcome.cs
Owners: none

CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

PublicAPI.Shipped.txt @nohwnd @MarcoRossignoli
PublicAPI.Unshipped.txt @nohwnd @MarcoRossignoli

# Adding/removing telemetry or doing any kind of changes to the telemetry data constants is
# something that should be treated with care and we should be transparent about it. It also
# requires making sure all telemetry collection systems in place will continue to function well.
TelemetryDataConstants.cs @cvpoienaru @nohwnd

# Changes here might break our contracts with other adapters, and possibly
# Visual Studio. 
/src/Microsoft.TestPlatform.AdapterUtilities/ @haplois @Evangelink 
/test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/  @haplois @Evangelink
