Repository microsoft/vstest, changes with the owners that CODEOWNERS names for each.
All owners: @nohwnd, @MarcoRossignoli, @cvpoienaru, @haplois, @Evangelink

Move version to 17.3.3
  eng/Versions.props
  scripts/build/TestPlatform.Dependencies.props
  scripts/build/TestPlatform.Settings.targets
Owners: none

Fix build
  global.json
  scripts/build/TestPlatform.Dependencies.props
  scripts/common.lib.ps1
Owners: none

Upgrade to Newtonsoft.Json 13.0.1 (#3815)
  eng/Versions.props
  samples/Microsoft.TestPlatform.Protocol/Microsoft.TestPlatform.Protocol.csproj
  scripts/build.ps1
  scripts/build.sh
  scripts/build/TestPlatform.Dependencies.props
  src/package/ThirdPartyNotices.txt
  src/testhost.x86/app.config
  src/testhost/app.config
  src/vstest.console/app.config
  test/Microsoft.TestPlatform.TestHostProvider.UnitTests/Hosting/DotnetTestHostManagerTests.cs
  test/TestAssets/NewtonSoftDependency/App.config
  test/TestAssets/NewtonSoftDependency/NewtonSoftDependency.csproj
Owners: none

Upgrade arcade
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Owners: none

update vs image used to build
  azure-pipelines.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
Owners: none

Upgrade to Newtonsoft.Json 13.0.1 (#3815)
  eng/Versions.props
  samples/Microsoft.TestPlatform.Protocol/Microsoft.TestPlatform.Protocol.csproj
  scripts/build.ps1
  scripts/build.sh
  scripts/build/TestPlatform.Dependencies.props
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestRunStatisticsConverter.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/AttachmentsProcessing/DataCollectorAttachmentProcessorAppDomain.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/AttachmentsProcessing/DataCollectorAttachmentProcessorWrapper.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs
  src/package/ThirdPartyNotices.txt
  src/testhost.arm64/app.config
  src/testhost.x86/app.config
  src/testhost/app.config
  src/vstest.console/app.config
  test/Microsoft.TestPlatform.AcceptanceTests/DotnetArchitectureSwitchTests.Windows.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/JsonDataSerializerTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestCaseSerializationTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestObjectConverterTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestResultSerializationTests.cs
  test/Microsoft.TestPlatform.ObjectModel.UnitTests/Client/DiscoveryCriteriaTests.cs
  test/Microsoft.TestPlatform.PerformanceTests/ProtocolV1Tests.cs
  test/Microsoft.TestPlatform.PerformanceTests/ProtocolV2Tests.cs
  test/Microsoft.TestPlatform.SmokeTests/DotnetHostArchitectureVerifierTests.cs
  test/Microsoft.TestPlatform.TestHostProvider.UnitTests/Hosting/DotnetTestHostManagerTests.cs
  test/TestAssets/NewtonSoftDependency/App.config
  test/TestAssets/NewtonSoftDependency/NewtonSoftDependency.csproj
Owners: none

Add 3.1.32 dotnet runtime
  scripts/common.lib.ps1
Owners: none

Ignore acceptance test for multi targetting, we did not touch that, it relies on an edge case, and it does not depend on newtonsoft
  test/Microsoft.TestPlatform.AcceptanceTests/MultitargetingTestHostTests.cs
Owners: none

Fix
  eng/configure-toolset.ps1
  eng/configure-toolset.sh
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestRunStatisticsConverter.cs
Owners: none

downgrade ubuntu
  azure-pipelines.yml
Owners: none

Dowgrade ubuntu more
  azure-pipelines.yml
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1222: Build ID 2117145
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ja.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ko.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pl.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pt-BR.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ru.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.tr.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hans.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hant.xlf
  src/SettingsMigrator/Resources/xlf/Resources.cs.xlf
  src/SettingsMigrator/Resources/xlf/Resources.de.xlf
  src/SettingsMigrator/Resources/xlf/Resources.es.xlf
  src/SettingsMigrator/Resources/xlf/Resources.fr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.it.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ja.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ko.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pl.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pt-BR.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ru.xlf
  src/SettingsMigrator/Resources/xlf/Resources.tr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hans.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hant.xlf
  src/vstest.console/Resources/xlf/Resources.cs.xlf
  src/vstest.console/Resources/xlf/Resources.de.xlf
  src/vstest.console/Resources/xlf/Resources.es.xlf
  src/vstest.console/Resources/xlf/Resources.fr.xlf
  src/vstest.console/Resources/xlf/Resources.it.xlf
  src/vstest.console/Resources/xlf/Resources.ja.xlf
  src/vstest.console/Resources/xlf/Resources.ko.xlf
  src/vstest.console/Resources/xlf/Resources.pl.xlf
  src/vstest.console/Resources/xlf/Resources.pt-BR.xlf
  src/vstest.console/Resources/xlf/Resources.ru.xlf
  src/vstest.console/Resources/xlf/Resources.tr.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hans.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hant.xlf
Owners: none

Juno: check in to lego/hb_ad8466e4-8d65-4d1a-832b-2c88012fccb5_20230219110201944.
  Localize/lcl/es/src/vstest.console/Resources/xlf/Resources.xlf.lcl
  Localize/lcl/it/src/vstest.console/Resources/xlf/Resources.xlf.lcl
  Localize/lcl/zh-Hant/src/vstest.console/Resources/xlf/Resources.xlf.lcl
Owners: none

Juno: check in to lego/hb_ad8466e4-8d65-4d1a-832b-2c88012fccb5_20230219110201944. (#4316)
  Localize/lcl/es/src/vstest.console/Resources/xlf/Resources.xlf.lcl
  Localize/lcl/it/src/vstest.console/Resources/xlf/Resources.xlf.lcl
  Localize/lcl/zh-Hant/src/vstest.console/Resources/xlf/Resources.xlf.lcl
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 2923: Build ID 7355884
  src/vstest.console/Resources/xlf/Resources.es.xlf
  src/vstest.console/Resources/xlf/Resources.it.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hant.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 2923: Build ID 7355888
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ja.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ko.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pl.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pt-BR.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ru.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.tr.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hans.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hant.xlf
  src/SettingsMigrator/Resources/xlf/Resources.cs.xlf
  src/SettingsMigrator/Resources/xlf/Resources.de.xlf
  src/SettingsMigrator/Resources/xlf/Resources.es.xlf
  src/SettingsMigrator/Resources/xlf/Resources.fr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.it.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ja.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ko.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pl.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pt-BR.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ru.xlf
  src/SettingsMigrator/Resources/xlf/Resources.tr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hans.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hant.xlf
  src/vstest.console/Resources/xlf/Resources.cs.xlf
  src/vstest.console/Resources/xlf/Resources.de.xlf
  src/vstest.console/Resources/xlf/Resources.es.xlf
  src/vstest.console/Resources/xlf/Resources.fr.xlf
  src/vstest.console/Resources/xlf/Resources.it.xlf
  src/vstest.console/Resources/xlf/Resources.ja.xlf
  src/vstest.console/Resources/xlf/Resources.ko.xlf
  src/vstest.console/Resources/xlf/Resources.pl.xlf
  src/vstest.console/Resources/xlf/Resources.pt-BR.xlf
  src/vstest.console/Resources/xlf/Resources.ru.xlf
  src/vstest.console/Resources/xlf/Resources.tr.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hans.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hant.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1222: Build ID 2119242
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ja.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ko.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pl.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.pt-BR.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.ru.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.tr.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hans.xlf
  src/Microsoft.TestPlatform.VsTestConsole.TranslationLayer/Resources/xlf/InternalResources.zh-Hant.xlf
  src/SettingsMigrator/Resources/xlf/Resources.cs.xlf
  src/SettingsMigrator/Resources/xlf/Resources.de.xlf
  src/SettingsMigrator/Resources/xlf/Resources.es.xlf
  src/SettingsMigrator/Resources/xlf/Resources.fr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.it.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ja.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ko.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pl.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pt-BR.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ru.xlf
  src/SettingsMigrator/Resources/xlf/Resources.tr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hans.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hant.xlf
  src/vstest.console/Resources/xlf/Resources.cs.xlf
  src/vstest.console/Resources/xlf/Resources.de.xlf
  src/vstest.console/Resources/xlf/Resources.es.xlf
  src/vstest.console/Resources/xlf/Resources.fr.xlf
  src/vstest.console/Resources/xlf/Resources.it.xlf
  src/vstest.console/Resources/xlf/Resources.ja.xlf
  src/vstest.console/Resources/xlf/Resources.ko.xlf
  src/vstest.console/Resources/xlf/Resources.pl.xlf
  src/vstest.console/Resources/xlf/Resources.pt-BR.xlf
  src/vstest.console/Resources/xlf/Resources.ru.xlf
  src/vstest.console/Resources/xlf/Resources.tr.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hans.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hant.xlf
Owners: none

Update releases.md
  docs/releases.md
Owners: none

Update releases.md
  docs/releases.md
Owners: none

Update docs/releases.md
  docs/releases.md
Owners: none

Update docs/releases.md
  docs/releases.md
Owners: none

Update releases.md (#4321)
  docs/releases.md
Owners: none

Bump version
  eng/Versions.props
  scripts/build/TestPlatform.Settings.targets
Owners: none

Bump version
  eng/Versions.props
  scripts/build/TestPlatform.Settings.targets
Owners: none

Fix version
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Fix version
  scripts/build/TestPlatform.Dependencies.props
Owners: none

[rel/17.3] Update Newtonsoft.Json to 13.0.1 (#4299)
  eng/Versions.props
  samples/Microsoft.TestPlatform.Protocol/Microsoft.TestPlatform.Protocol.csproj
  scripts/build.ps1
  scripts/build.sh
  scripts/build/TestPlatform.Dependencies.props
  scripts/build/TestPlatform.Settings.targets
  src/Microsoft.TestPlatform.CommunicationUtilities/JsonDataSerializer.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestCaseConverter.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestObjectConverter.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestResultConverter.cs
  src/Microsoft.TestPlatform.CommunicationUtilities/Serialization/TestRunStatisticsConverter.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/AttachmentsProcessing/DataCollectorAttachmentProcessorAppDomain.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/AttachmentsProcessing/DataCollectorAttachmentProcessorWrapper.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Resources/xlf/Resources.cs.xlf
  src/Microsoft.TestPlatform.CrossPlatEngine/Resources/xlf/Resources.de.xlf
  src/Microsoft.TestPlatform.CrossPlatEngine/Resources/xlf/Resources.ru.xlf
  src/Microsoft.TestPlatform.CrossPlatEngine/Resources/xlf/Resources.zh-Hans.xlf
  src/Microsoft.TestPlatform.CrossPlatEngine/Resources/xlf/Resources.zh-Hant.xlf
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DotnetTestHostManager.cs
  src/package/ThirdPartyNotices.txt
  src/testhost.arm64/app.config
  src/testhost.x86/app.config
  src/testhost/app.config
  src/vstest.console/app.config
  test/Microsoft.TestPlatform.AcceptanceTests/DotnetArchitectureSwitchTests.Windows.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/JsonDataSerializerTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestCaseSerializationTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestObjectConverterTests.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/Serialization/TestResultSerializationTests.cs
  test/Microsoft.TestPlatform.ObjectModel.UnitTests/Client/DiscoveryCriteriaTests.cs
  test/Microsoft.TestPlatform.PerformanceTests/ProtocolV1Tests.cs
  test/Microsoft.TestPlatform.PerformanceTests/ProtocolV2Tests.cs
  test/Microsoft.TestPlatform.SmokeTests/DotnetHostArchitectureVerifierTests.cs
  test/Microsoft.TestPlatform.TestHostProvider.UnitTests/Hosting/DotnetTestHostManagerTests.cs
  test/TestAssets/NewtonSoftDependency/App.config
  test/TestAssets/NewtonSoftDependency/NewtonSoftDependency.csproj
Owners: none

[rel/17.0] Update Newtonsoft.Json to 13.0.1 (#4309
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  global.json
  samples/Microsoft.TestPlatform.Protocol/Microsoft.TestPlatform.Protocol.csproj
  scripts/build.ps1
  scripts/build.sh
  scripts/build/TestPlatform.Dependencies.props
  scripts/build/TestPlatform.Settings.targets
  scripts/common.lib.ps1
  src/package/ThirdPartyNotices.txt
  src/testhost.x86/app.config
  src/testhost/app.config
  src/vstest.console/app.config
  test/Microsoft.TestPlatform.AcceptanceTests/MultitargetingTestHostTests.cs
  test/Microsoft.TestPlatform.TestHostProvider.UnitTests/Hosting/DotnetTestHostManagerTests.cs
  test/TestAssets/NewtonSoftDependency/App.config
  test/TestAssets/NewtonSoftDependency/NewtonSoftDependency.csproj
Owners: none

Update vsts-prebuild script
  scripts/vsts-prebuild.ps1
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1222: Build ID 2120175
  src/SettingsMigrator/Resources/xlf/Resources.cs.xlf
  src/SettingsMigrator/Resources/xlf/Resources.de.xlf
  src/SettingsMigrator/Resources/xlf/Resources.es.xlf
  src/SettingsMigrator/Resources/xlf/Resources.fr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.it.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ja.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ko.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pl.xlf
  src/SettingsMigrator/Resources/xlf/Resources.pt-BR.xlf
  src/SettingsMigrator/Resources/xlf/Resources.ru.xlf
  src/SettingsMigrator/Resources/xlf/Resources.tr.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hans.xlf
  src/SettingsMigrator/Resources/xlf/Resources.zh-Hant.xlf
  src/vstest.console/Resources/xlf/Resources.cs.xlf
  src/vstest.console/Resources/xlf/Resources.de.xlf
  src/vstest.console/Resources/xlf/Resources.es.xlf
  src/vstest.console/Resources/xlf/Resources.fr.xlf
  src/vstest.console/Resources/xlf/Resources.it.xlf
  src/vstest.console/Resources/xlf/Resources.ja.xlf
  src/vstest.console/Resources/xlf/Resources.ko.xlf
  src/vstest.console/Resources/xlf/Resources.pl.xlf
  src/vstest.console/Resources/xlf/Resources.pt-BR.xlf
  src/vstest.console/Resources/xlf/Resources.ru.xlf
  src/vstest.console/Resources/xlf/Resources.tr.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hans.xlf
  src/vstest.console/Resources/xlf/Resources.zh-Hant.xlf
Owners: none

Update vsix tool
  scripts/build/TestPlatform.Dependencies.props
  src/package/external/external.csproj
Owners: none

Added comment about slot synchronization
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelOperationManager.cs
Owners: none

update verify sign
  scripts/verify-sign.ps1
Owners: none

Fix build
  scripts/verify-sign.ps1
  scripts/vsts-prebuild.ps1
Owners: none

Fix build
  scripts/verify-sign.ps1
  scripts/vsts-prebuild.ps1
Owners: none

Pre-start testhosts (#3666)
  src/Microsoft.TestPlatform.Common/Interfaces/Engine/ClientProtocol/IProxyDiscoveryManager.cs
  src/Microsoft.TestPlatform.Common/Interfaces/Engine/ClientProtocol/IProxyExecutionManager.cs
  src/Microsoft.TestPlatform.Common/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/InProcessProxyDiscoveryManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/InProcessProxyexecutionManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelOperationManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelProxyDiscoveryManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/Parallel/ParallelProxyExecutionManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyDiscoveryManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/Client/ProxyExecutionManager.cs
  src/Microsoft.TestPlatform.CrossPlatEngine/PublicAPI/PublicAPI.Shipped.txt
  test/Microsoft.TestPlatform.AcceptanceTests/TranslationLayerTests/DiscoverTests.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/Parallel/ParallelOperationManagerTests.cs
  test/Microsoft.TestPlatform.CrossPlatEngine.UnitTests/Client/Parallel/ParallelProxyExecutionManagerTests.cs
Owners: @nohwnd, @MarcoRossignoli

[rel/17.0] Fix internal build (#4323)
  scripts/build/TestPlatform.Dependencies.props
  scripts/verify-sign.ps1
  scripts/vsts-prebuild.ps1
  src/package/external/external.csproj
Owners: none

Fix build (#4325)
  scripts/verify-sign.ps1
  scripts/vsts-prebuild.ps1
Owners: none

Fix build (#4324)
  scripts/verify-sign.ps1
  scripts/vsts-prebuild.ps1
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1222: Build ID 2124009
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.cs.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.de.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.es.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.fr.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.it.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.ja.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.ko.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.pl.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.pt-BR.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.ru.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.tr.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.zh-Hans.xlf
  src/Microsoft.TestPlatform.AdapterUtilities/Resources/xlf/Resources.zh-Hant.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.cs.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.de.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.es.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.fr.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.it.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.ja.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.ko.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.pl.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.pt-BR.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.ru.xlf
  src/Microsoft.TestPlatform.Client/Resources/xlf/Resources.tr.xlf
Owners: @haplois, @Evangelink

CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

PublicAPI.Shipped.txt @nohwnd @MarcoRossignoli
PublicAPI.Unshipped.txt @nohwnd @MarcoRossignoli

# Adding/removing telemetry or doing any kind of changes to the telemetry data constants is
# something that should be treated with care and we should be transparent about it. It also
# requires making sure all telemetry collection systems in place will continue to function well.
TelemetryDataConstants.cs @cvpoienaru @nohwnd

# Changes here might break our contracts with other adapters, and possibly
# Visual Studio. 
/src/Microsoft.TestPlatform.AdapterUtilities/ @haplois @Evangelink 
/test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/  @haplois @Evangelink
