Repository microsoft/vstest, changes with the owners that CODEOWNERS names for each.
All owners: @nohwnd, @MarcoRossignoli, @cvpoienaru, @haplois, @Evangelink

Fixed pipeline for Ubuntu/macOS attempt #2
  src/Microsoft.TestPlatform.PlatformAbstractions/common/System/ProcessHelper.cs
Owners: none

More changes
  eng/Versions.props
Owners: none

Cleanup the code in TestRequestSender and add more tests
  src/Microsoft.TestPlatform.CommunicationUtilities/TestRequestSender.cs
  test/Microsoft.TestPlatform.CommunicationUtilities.UnitTests/TestRequestSenderTests.cs
Owners: none

Fixed Selenium test run hang after stopping the debugger (#3995)
  src/Microsoft.TestPlatform.PlatformAbstractions/common/System/ProcessHelper.cs
Owners: none

Fixed wording for Github ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE.md
Owners: none

Add more // to the console mode comment in playground to make it easier to uncomment. (#3999)
  playground/TestPlatform.Playground/Program.cs
Owners: none

Removed the redirect notice
  .github/ISSUE_TEMPLATE.md
Owners: none

Fixed wording for Github issue template (#3998)
  .github/ISSUE_TEMPLATE.md
Owners: none

Playground project file refactored.
  playground/TestPlatform.Playground/TestPlatform.Playground.csproj
Owners: none

Playground project file refactored. (#4002)
  playground/TestPlatform.Playground/TestPlatform.Playground.csproj
Owners: none

Remove netstandard telemetry dependencies
  scripts/build.ps1
  scripts/verify-nupkgs.ps1
  src/package/nuspec/Microsoft.TestPlatform.nuspec
Owners: none

Remove netstandard telemetry dependencies (#4007)
  scripts/build.ps1
  scripts/verify-nupkgs.ps1
  src/package/nuspec/Microsoft.TestPlatform.nuspec
Owners: none

Fix ManagedNameHelper to support namespaceless methods.
  src/Microsoft.TestPlatform.AdapterUtilities/ManagedNameUtilities/ManagedNameHelper.Reflection.cs
  src/Microsoft.TestPlatform.AdapterUtilities/PublicAPI/PublicAPI.Shipped.txt
  test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/ManagedNameUtilities/ManagedNameGeneratorTests.cs
  test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/TestClasses.cs
  test/TestAssets/CILProject/CILProject.proj
Owners: @haplois, @Evangelink

Fix ManagedNameHelper to support namespaceless methods. (#4003)
  src/Microsoft.TestPlatform.AdapterUtilities/ManagedNameUtilities/ManagedNameHelper.Reflection.cs
  src/Microsoft.TestPlatform.AdapterUtilities/PublicAPI/PublicAPI.Shipped.txt
  test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/ManagedNameUtilities/ManagedNameGeneratorTests.cs
  test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/TestClasses.cs
  test/TestAssets/CILProject/CILProject.proj
Owners: @haplois, @Evangelink

Fixed Selenium test run hang after stopping the debugger (#3995)
  src/Microsoft.TestPlatform.PlatformAbstractions/common/System/ProcessHelper.cs
Owners: none

Rebranded TP version to 17.3.5
  eng/Versions.props
  scripts/build/TestPlatform.Settings.targets
Owners: none

Rebranded TP version to 17.3.2
  eng/Versions.props
  scripts/build/TestPlatform.Settings.targets
Owners: none

Pipeline fix
  azure-pipelines.yml
  eng/common/SetupNugetSources.ps1
  eng/common/SetupNugetSources.sh
  eng/common/build.sh
  eng/common/cross/arm/sources.list.focal
  eng/common/cross/arm/sources.list.jammy
  eng/common/cross/arm64/sources.list.focal
  eng/common/cross/arm64/sources.list.jammy
  eng/common/cross/build-rootfs.sh
  eng/common/cross/riscv64/sources.list.sid
  eng/common/cross/toolchain.cmake
  eng/common/cross/x86/sources.list.focal
  eng/common/cross/x86/sources.list.jammy
  eng/common/generate-locproject.ps1
  eng/common/generate-sbom-prep.ps1
  eng/common/generate-sbom-prep.sh
  eng/common/init-tools-native.ps1
  eng/common/native/init-compiler.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/templates/steps/send-to-helix.yml
  eng/common/tools.ps1
  eng/common/tools.sh
Owners: none

More Arcade fixes
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
Owners: none

Fixed CC
  NuGet.config
Owners: none

Fixed Selenium test run hang after stopping the debugger (#4013)
  azure-pipelines.yml
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/SetupNugetSources.ps1
  eng/common/SetupNugetSources.sh
  eng/common/build.sh
  eng/common/cross/arm/sources.list.focal
  eng/common/cross/arm/sources.list.jammy
  eng/common/cross/arm64/sources.list.focal
  eng/common/cross/arm64/sources.list.jammy
  eng/common/cross/build-rootfs.sh
  eng/common/cross/riscv64/sources.list.sid
  eng/common/cross/toolchain.cmake
  eng/common/cross/x86/sources.list.focal
  eng/common/cross/x86/sources.list.jammy
  eng/common/generate-locproject.ps1
  eng/common/generate-sbom-prep.ps1
  eng/common/generate-sbom-prep.sh
  eng/common/init-tools-native.ps1
  eng/common/native/init-compiler.sh
  eng/common/sdk-task.ps1
  eng/common/sdl/sdl.ps1
  eng/common/templates/job/execute-sdl.yml
  eng/common/templates/job/onelocbuild.yml
  eng/common/templates/job/source-build.yml
  eng/common/templates/job/source-index-stage1.yml
  eng/common/templates/jobs/jobs.yml
  eng/common/templates/post-build/post-build.yml
  eng/common/templates/steps/execute-sdl.yml
  eng/common/templates/steps/send-to-helix.yml
  eng/common/tools.ps1
  eng/common/tools.sh
  scripts/build/TestPlatform.Settings.targets
  src/Microsoft.TestPlatform.PlatformAbstractions/common/System/ProcessHelper.cs
Owners: none

Update to latest SDK
  global.json
Owners: none

Bumped version to `17.5.0`.
  eng/Versions.props
  scripts/build/TestPlatform.Dependencies.props
  scripts/build/TestPlatform.Settings.targets
  test/Microsoft.TestPlatform.AcceptanceTests/Extension/Features.cs
Owners: none

Mark the branch as `release`.
  eng/Versions.props
  test/Microsoft.TestPlatform.AcceptanceTests/Extension/Features.cs
Owners: none

Remove portable CPP adapter and dbghelp
  scripts/verify-nupkgs.ps1
  src/package/nuspec/TestPlatform.CLI.nuspec
Owners: none

Remove portable CPP adapter and dbghelp
  scripts/verify-nupkgs.ps1
  src/package/nuspec/TestPlatform.CLI.nuspec
Owners: none

[rel/17.4] Remove portable CPP adapter and dbghelp (#4020)
  scripts/verify-nupkgs.ps1
  src/package/nuspec/TestPlatform.CLI.nuspec
Owners: none

Remove portable CPP adapter and dbghelp (#4019)
  scripts/verify-nupkgs.ps1
  src/package/nuspec/TestPlatform.CLI.nuspec
Owners: none

add support for ppc64le processor architecture
  src/Microsoft.TestPlatform.ObjectModel/Architecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/Interfaces/System/PlatformArchitecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/PlatformEnvironment.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/ProcessHelper.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs
  src/vstest.console/TestPlatformHelpers/TestRequestManager.cs
  test/vstest.console.UnitTests/Processors/PlatformArgumentProcessorTests.cs
Owners: none

change enum name from PPC64le to Ppc64le to match with System.Runtime.InteropServices.Architecture enum name
  src/Microsoft.TestPlatform.ObjectModel/Architecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/Interfaces/System/PlatformArchitecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/PlatformEnvironment.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/ProcessHelper.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs
  src/vstest.console/TestPlatformHelpers/TestRequestManager.cs
  test/vstest.console.UnitTests/Processors/PlatformArgumentProcessorTests.cs
Owners: none

corrected typo in ppc64le arch name
  test/vstest.console.UnitTests/Processors/PlatformArgumentProcessorTests.cs
Owners: none

update version to include fakes instrumentation fixes
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Add support for ppc64le processor architecture (#4028)
  src/Microsoft.TestPlatform.ObjectModel/Architecture.cs
  src/Microsoft.TestPlatform.ObjectModel/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.PlatformAbstractions/Interfaces/System/PlatformArchitecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/PlatformEnvironment.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/ProcessHelper.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs
  src/vstest.console/TestPlatformHelpers/TestRequestManager.cs
  test/vstest.console.UnitTests/Processors/PlatformArgumentProcessorTests.cs
Owners: @nohwnd, @MarcoRossignoli

Add support for ppc64le processor architecture (#4028)
  src/Microsoft.TestPlatform.ObjectModel/Architecture.cs
  src/Microsoft.TestPlatform.ObjectModel/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.PlatformAbstractions/Interfaces/System/PlatformArchitecture.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/PublicAPI/PublicAPI.Shipped.txt
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/PlatformEnvironment.cs
  src/Microsoft.TestPlatform.PlatformAbstractions/netcore/System/ProcessHelper.cs
  src/Microsoft.TestPlatform.TestHostProvider/Hosting/DefaultTestHostManager.cs
  src/vstest.console/TestPlatformHelpers/TestRequestManager.cs
  test/vstest.console.UnitTests/Processors/PlatformArgumentProcessorTests.cs
Owners: @nohwnd, @MarcoRossignoli

Update Fakes binaries (#4033)
  scripts/build/TestPlatform.Dependencies.props
Owners: none

Fix release note and prebuild scripts
  scripts/vsts-prebuild.ps1
  scripts/vsts-prebuild.sh
  scripts/write-release-notes.ps1
Owners: none

Fix release note and prebuild scripts
  scripts/vsts-prebuild.ps1
  scripts/vsts-prebuild.sh
  scripts/write-release-notes.ps1
Owners: none

Update scripts/vsts-prebuild.ps1
  scripts/vsts-prebuild.ps1
Owners: none

Fix release note and prebuild scripts (#4039)
  scripts/vsts-prebuild.ps1
  scripts/vsts-prebuild.sh
  scripts/write-release-notes.ps1
Owners: none

update docker to the latest tagging schema
  azure-pipelines.yml
Owners: none

CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

PublicAPI.Shipped.txt @nohwnd @MarcoRossignoli
PublicAPI.Unshipped.txt @nohwnd @MarcoRossignoli

# Adding/removing telemetry or doing any kind of changes to the telemetry data constants is
# something that should be treated with care and we should be transparent about it. It also
# requires making sure all telemetry collection systems in place will continue to function well.
TelemetryDataConstants.cs @cvpoienaru @nohwnd

# Changes here might break our contracts with other adapters, and possibly
# Visual Studio. 
/src/Microsoft.TestPlatform.AdapterUtilities/ @haplois @Evangelink 
/test/Microsoft.TestPlatform.AdapterUtilities.UnitTests/  @haplois @Evangelink
